body {
    // background: #b00
}

.header {
    padding: 20px 0;
}

.search {
    span {
        padding-left: 5px;
        padding-right: 20px;
        font-weight: 700;
    }
}

#spinner {
    background: red;
    position: relative;
    top: -10px;
    left: 25px;
}

#map-canvas {
    width: 100%;
    min-height: 500px
}