<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= name %></title>
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">
        <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
                                                            <link rel="canonical" href="http://www.example.com/">
        -->
        <link rel="stylesheet" href="css/style.css">
        <script src="modernizr.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    </head>
    <body>
        <!--[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
        <div class="container">
            <div class="header">
                <h3 class="text-muted">
                <span><%= name %></span><span id="spinner"></span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" class="search form-inline">
                        <div class="form-group">
                            <label for="location">What do</label>
                            <input type="email" class="form-control" id="location" placeholder="Birmingham">
                            <label for="subject">think of</label>
                            <input type="password" class="form-control" id="subject" placeholder="hackference"><span>?</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12" id="data"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="map-canvas"></div>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
        <!--INJECT:jslibs-->
        <!--END INJECT-->
        <!--INJECT:jsapp-->
        <!--END INJECT-->
        <!--INJECT:scripts-->
        <!--END INJECT-->
    </body>
</html>